@page "/chat"
@using Microsoft.AspNetCore.SignalR.Client
@using ChatAppBlazor.Models
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Identity
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

<h3>Chat</h3>

<div class="message-container">
    @foreach (var message in messages)
    {
        <div class="message">
            <strong>@message.SenderUsername:</strong> @message.Content
        </div>
    }
</div>

<div class="input-container">
    <input @bind="newMessage" @onkeyup="@HandleKeyUp" placeholder="Type a message..." />
    <button @onclick="SendMessage">Send</button>
</div>

@code {
    private List<Message> messages = new List<Message>();
    private string newMessage = "";
    private HubConnection hubConnection;
    private ApplicationUser currentUser;

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/chathub"))
            .Build();

        hubConnection.On<string, string>("ReceiveMessage", (user, message) =>
        {
            var encodedMsg = $"{user}: {message}";
            messages.Add(new Message { SenderUsername = user, Content = message });
            StateHasChanged();
        });

        currentUser = await UserManager.GetUserAsync(SignInManager.Context.User);

        await hubConnection.StartAsync();
    }

    private async Task SendMessage()
    {
        if (!string.IsNullOrEmpty(newMessage))
        {
            var message = new Message
                {
                    SenderId = currentUser.Id, // Kullanıcının kimliği
                    SenderUsername = currentUser.UserName, // Kullanıcı adı
                    Content = newMessage,
                    Timestamp = DateTime.Now
                };

            try
            {
                // Mesajı sunucuya gönder
                var response = await Http.PostAsJsonAsync("api/message", message);
                if (response.IsSuccessStatusCode)
                {
                    await hubConnection.SendAsync("SendMessage", currentUser.UserName, newMessage);
                    newMessage = "";
                }
                else
                {
                    Console.WriteLine("Message sending failed: " + response.ReasonPhrase);
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine("Exception occurred while sending message: " + ex.Message);
            }
        }
    }

    private async Task HandleKeyUp(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await SendMessage();
        }
    }
}
