@page "/register"
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Register</h3>

<EditForm Model="registerModel" OnValidSubmit="HandleRegister">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label for="username">Username</label>
        <InputText id="username" @bind-Value="registerModel.Username" />
    </div>
    <div>
        <label for="email">Email</label>
        <InputText id="email" type="email" @bind-Value="registerModel.Email" />
    </div>
    <div>
        <label for="password">Password</label>
        <InputText id="password" type="password" @bind-Value="registerModel.Password" />
    </div>
    <button type="submit">Register</button>
</EditForm>

@code {
    private RegisterModel registerModel = new RegisterModel();

    private async Task HandleRegister()
    {
        var response = await Http.PostAsJsonAsync("api/register/register", registerModel);
        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/login");
        }
        else
        {
            // Hataları işleyin
            Console.WriteLine("Registration failed.");
        }
    }

    public class RegisterModel
    {
        public string Username { get; set; }
        public string Email { get; set; }
        public string Password { get; set; }
    }
}
